section#content {
  padding: 1rem 0;
}

nav {
  // background-color: $nav-color;
  // position: absolute;
  // top: 0;
  // z-index: 7;
  width: 100%;
  background: $theme--nav-bg;
  border-bottom: $theme--nav-border; 
}

.top-bar {
  background: none;
}
.top-bar ul {
  background: none;
}
.top-bar, .top-bar ul {
  .menu {
    .menu-text {
      padding-left: 0;
    }
    a {
      color: $primary-color;
      font-family: $font-family-secondary;
      font-weight: 700;
      font-size: 1.3rem;
      text-transform: uppercase;

    }
    a.button-apply {
      background-color: $primary-color;
      border-radius: 5px;
      color: $white;
    }
  }
}

.logo {
  .logo--icon {
    display: inline-block;
    height: 50px;
    margin: -10px 0;
  }

  .logo--title {
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
    color: $primary-color;
  }
}

