section#content {
  padding: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
}

article {
  max-width: 1200px;
  margin: auto;

  h4 {
    font-weight: 700;
  }
}

nav {
  // background-color: $nav-color;
  // position: absolute;
  // top: 0;
  // z-index: 7;
  width: 100%;
  background: $theme--nav-bg;
  border-bottom: $theme--nav-border;
}

.top-bar {
  background: none;
}
.top-bar ul {
  background: none;
}
.top-bar, .top-bar ul {
  .menu {
    .menu-text {
      padding-left: 0;
    }
    a {
      color: $primary-color;
      font-family: $font-family-secondary;
      font-weight: 700;
      font-size: 1.3rem;
      text-transform: uppercase;

    }
    a.button-apply {
      // background-color: $primary-color;
      // color: $white;
      border: 1px solid $light-gray;
      border-radius: 5px;
    }
  }
}

.logo {
  display: inline-block;

  .logo--icon {
    display: inline-block;
    height: 70px;
    margin: -10px 0;
    margin-right: 5px;
  }

  .logo--title {
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
    color: $primary-color;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
  }
}

