<div class='contact-details-wrapper'>
    <div class='contact-details content-block'>
        <div class='contact-entry'>
            <div class='contact-icon'>
                <img src='img/c-email.png' alt=''>
            </div>
            <div class='description'>
                <div class='title'>E-mails</div>
                <div class='text'><a href='mailto:marco@fortedefence.com'>marco@fortedefence.com</a>
                    <br/>
                    <a href='mailto:nadia@fortedefence.com'>nadia@fortedefence.com</a>
                </div>
            </div>
        </div>

        <div class='contact-entry'>
            <div class='contact-icon'>
                <img src='img/c-phone.png' alt=''>
            </div>
            <div class='description'>
                <div class='title'>Phones</div>
                <div class='text'>
                    <p>
                        Marco: <a href='tel:+14167050201'>+1 (416) 705-0201</a>
                        <br>Nadia: <a href='tel:+16476064859'>+1 (647) 606-4859</a>
                        <br>Fax: <a href='tel:+14169440533'>+1 (416) 944-0533</a>
                    </p>
                </div>
            </div>
        </div>

        <div class='contact-entry'>
            <div class='contact-icon'>
                <img src='img/c-address.png' alt=''>
            </div>
            <div class='description'>
                <div class='title'>Address</div>
                <div class='text'>Forte Defence
                    <br>559 College St, Suite 202,
                    <br/>Toronto, ON, M6G 1A9</div>
            </div>
        </div>
    </div>

</div>

<div class='contact-247'>
    <div class='text'>
        <h2 style='font-size:22px;'>
                Contact us anytime, 24/7,
                <br/>for a confidential consultation.
             </h2>
    </div>
</div>
