<div class='row post animated fadeInUp'>
    <div class='col-xs-12 col-sm-12 col-md-9 col-lg-11 form-block'>
        <h2>Contact us</h2>
        <form onSubmit='return submitForm();' action='./' method='post' name='contactform'
        id='contact-form'>
            <div class='form-text'>Required fields are <span style=''>*</span>. Fill
                out the form and we'll contact you as soon as possible!</div>
            <div class='row'>
                <div class='col-xs-12 col-sm-6'>
                    <input class='form-input' name='name' type='text' required='' placeholder='Name *'>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <input class='form-input' name='email' type='text' required='' placeholder='E-mail *'>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <input class='form-input' name='phone' type='text' required='' placeholder='Phone *'>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <input class='form-input' name='subject' type='text' required='' placeholder='Subject *'>
                </div>
                <div class='col-xs-12'>
                    <textarea class='form-input' name='message' placeholder='Message'></textarea>
                </div>
                <div class='col-xs-12' style='padding-bottom:40px;'>
                    <span class='button'><button class='submit' type='submit'>submit</button></span>
                    <span class='success'></span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
