<footer class='background-block' style='background-image: url(/img/background-4.jpg);'>
    <img class='center-image' src='/img/background-4.jpg' alt='' style='display: none;'>
    <div class='container'>
        <div class='row'>
            <div class='footer-entry col-xs-12 col-sm-6 col-md-3'>
                <h3 class='title'>Address</h3>
                <div class='address'>
                    <p>Toronto, ON, M6G 1A9</p>
                    <p>Canada</p>
                </div>
                <img class='img-responsive map' src='/img/map.png' alt=''>
            </div>
            <div class='footer-entry col-sm-6 col-md-3'>
                <h3 class='title'>Information</h3>
                <div class='text row'>
                    <div class='col-xs-12'>
                        <ul class='list-styled'>
                            <li><a href='#'>Home</a>
                            </li>
                            <li>Team
                                <ul style='list-style:none;'>
                                    <li style='padding-left:15px;list-style:none;'><a href='team/marco.html'>Marco</a>
                                    </li>
                                    <li style='padding-left:15px;list-style:none;'><a href='team/nadia.html'>Nadia</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href='contact-us.html'>Contact</a>
                            </li>
                            <li><a href='media-and-notable-cases.html'>Media &amp; Notable Cases</a>
                            </li>
                            <li><a href='blog.html'>Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='footer-entry col-sm-6 col-md-3'>
                <h3 class='title'>Latest from our blog</h3>

            </div>
            <div class='footer-entry col-sm-6 col-md-3'>
                <h3 class='title'>Subscribe to News</h3>
                <div class='footer-email-address'>
                    Enter your email address and subscribe to our Newsletter!
                </div>
                <form method='post'>
                    <input type='hidden' name='form-name' value='form 1'>
                    <input type='email' placeholder='Your email address ...'>
                    <button type='submit'></button>
                </form>

                <h3 class='title'>Follow us</h3>
                <div class='social'>
                    <a href='https://twitter.com/fortedefence'>
                        <img src='/img/twitter.png' alt=''>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
