<footer class='footer'>

    <div class='footer--logo'>
        <div class='row medium-unstack'>
            <div class='medium-12 columns text-center'>
                <img src='img/logo.jpg' class='footer--logo-icon'>
            </div>
        </div>
    </div>

    <div class='footer--info'>
        <div class='row medium-unstack'>
            <div class='medium-4 columns'>
                <h4 class='footer--name'>
                    Education in English
                </h4>
                <p>
                We provide high quality English language education to Chinese
                university students. Join our team today and embark on a
                life-changing experience where you lead a classroom, share your
                knowledge, and engage in cultural exchange!</p>
                <ul class='menu footer--menu-social simple'>
                    <li><a href='#'><i class='fas fa-youtube-square' aria-hidden='true'></i></a></li>
                     <li><a href='#'><i class='fas fa-facebook-square' aria-hidden='true'></i></a></li>
                     <li><a href='#'><i class='fas fa-twitter-square' aria-hidden='true'></i></a></li>
                </ul>
            </div>

            <div class='medium-4 columns'>
                 <h4 class='footer--title'>Contact Info</h4>
                <div class='footer--block'>
                    <i class='fa fa-map-marker' aria-hidden='true'></i>
                    <p>
                        4th Floor, Yuxiu Building, Yantai University<br>
                        No. 32 Qingquan Road, Laishan District, Yantai<br>
                        Shandong, P.R.China
                    </p>
                </div>
                <div class='footer--block'>
                    <i class='fa fa-phone' aria-hidden='true'></i>
                    <p>
                      Tel: 0086-535-6903269<br>
                      Fax: 0086-535-6903219
                    </p>
                </div>
                <div class='footer--block'>
                    <i class="far fa-envelope"></i>
                    <p>
                      Diane Diao: dianediao@hotmail.com<br>
                      Alice Liu: 1027085581@qq.com
                    </p>
                </div>
            </div>

            <div class='medium-4 columns'>
                <h4 class='footer--title'>Gallery</h4>
                <div class='row small-up-3 footer--gallery'>
                    <div class='column column-block footer--galley-box'>
                        <img src='http://i345.photobucket.com/albums/p383/educationinenglish/1_zpswokxvcst.jpg'  />
                    </div>
                    <div class='column column-block footer--galley-box'>
                        <img src=http://i345.photobucket.com/albums/p383/educationinenglish/4_zpserefhzan.jpg'   />
                    </div>
                    <div class='column column-block footer--galley-box'>
                        <img src='http://i345.photobucket.com/albums/p383/educationinenglish/12_zpsrvjwqwgn.jpg' />
                    </div>
                    <div class='column column-block footer--galley-box'>
                        <img src='http://i345.photobucket.com/albums/p383/educationinenglish/13_zpsuhww76d6.jpg' />
                    </div>
                    <div class='column column-block footer--galley-box'>
                        <img src='http://i345.photobucket.com/albums/p383/educationinenglish/12_zpsrgfwwfcb.jpg' />
                    </div>
                    <div class='column column-block footer--galley-box'>
                        <img src='http://i345.photobucket.com/albums/p383/educationinenglish/2_zpsnhl35knh.jpg'  />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='footer--bottom'>
        <div class='row large-unstack align-middle'>
            <div class='column medium-3'>
                <p>&copy; 2018 &bull; Education in English </p>
            </div>
            <div class='column medium-9'>
                <ul class='menu footer--bottom-links'>
                    {% include "src/partials/_nav_items.html" %}
                </ul>
            </div>
        </div>
    </div>
</footer>

