<header class='callout large primary headline headline-primary'>
    <div class='row align-middle'>
        <div class='medium-8 columns'>
            <h1>COME TEAC<span>H</span> ENGLISH</h1>
            <h3>It’s the best place to build and deploy a website, show off your work, build test cases, and find inspiration.</h3>
            <a class="button large" href="apply.html">Apply to Teach</a> 
            <a href="#" class="clear button secondary" href="#">Learn More &rarr;</a>
        </div>
        <div class='medium-4 columns'>
          <img src='img/chalk.jpg' style="width: 100%; display: inline-block">
        </div>
    </div>
</header>
