<nav>
    <div class='row'>
        <div class='medium-12 columns'>
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">
                            <div class='logo'>
                                <img src='/img/logo_small.png' class='logo-icon'>
                                <div class='logo-title'>EIE</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="cities.html">Cities</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="teaching.html">Teaching at EIE</a></li>
                        <li><a href="apply.html" class="button button-apply">Apply</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
