<div class='notable-cases'>
    <h3>Notable Cases</h3>
    <ol >
        <li>
            <a href='https://www.canlii.org/en/on/oncj/doc/2015/2015oncj164/2015oncj164.html'>
                <i>R v Sheppard</i>, 2015 ONCJ 164 (CanLII)
            </a>
        </li>

        <li>
            <a href='https://www.canlii.org/en/on/onsc/doc/2010/2010onsc5799/2010onsc5799.html'>
                <i>R v Benjamin</i>, 2010 ONSC 5799 (CanLII):
            </a>
        </li>

        <li>
            <a href='https://www.canlii.org/en/on/oncj/doc/2012/2012oncj28/2012oncj28.html'>
                <i>R v Warlow</i>, 2012 ONCJ 28 (CanLII)
            </a>
        </li>

        <li>
            <a href='https://www.canlii.org/en/on/oncj/doc/2014/2014oncj274/2014oncj274.html'>
                <i>R v S(RO)</i>, 2014 ONCJ 274 (CanLII)
            </a>
        </li>


        <li>
            <a href='http://www.canlii.org/en/on/onsc/doc/2015/2015onsc352/2015onsc352.html'>
                <i>R v Khiar</i>, 2015 ONSC 352 (CanLII)
            </a>
        </li>
    </ol>
</div>
