<div class='homepage-slideshow swiper-container'>
    <div class='swiper-wrapper'>
        <div class='swiper-slide' style='background-image:url(/img/FD_38.jpg);'>
            <div class='container'>
                <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-align'>
                </div>
            </div>
        </div>
        <div class='swiper-slide' style='background-image:url(/img/FD_37.jpg);'>
            <div class='container'>
                <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-align'>
                </div>
            </div>
        </div>
        <div class='swiper-slide' style='background-image:url(/img/FD_18.jpg);'>
            <div class='container'>
                <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-align'>
                </div>
            </div>
        </div>
        <div class='swiper-slide' style='background-image:url(/img/FD_2.jpg);'>
            <div class='container'>
                <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-align'>
                </div>
            </div>
        </div>
        <div class='swiper-slide' style='background-image:url(/img/FD_36.jpg);'>
            <div class='container'>
                <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-align'>
                </div>
            </div>
        </div>

        <div class='swiper-slide' style='background-image:url(/img/FD_43.jpg);'>
            <div class='container'>
                <div class='col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 vertical-align'>
                </div>
            </div>
        </div>
    </div>
</div>
