---
title: Apply to Teach in China
---

{% extends "src/layouts/subpage.html" %}

{% block headline %}
    <h3>Apply to</h3>
    <h1>Teach in Chin<span>a</span></h1>
{% endblock %}

{% block content %}
<div class='row'>
  <div class='callout columns small-12 large-8'>
    <h4>Our submission form is currently under construction.</h4>
    <p>
      To apply to teach at EIE, please send your <b>resume</b> and <b>cover letter</b>
      to Diane Diao, EIE’s Assistant Director, at
      <a href='mailto:dianediao@hotmail.com'>dianediao@hotmail.com</a>.
    </p>
  </div>
</div>
<!-- <form name="contact" netlify&#45;honeypot="bot&#45;field" method="POST" action="thank&#45;you" netlify> -->
<!--   <p class="hidden"> -->
<!--     <label>Don’t fill this out if you're human: <input name="bot&#45;field"></label> -->
<!--   </p> -->
<!--   <p> -->
<!--     <label>Email: <input type="text" name="name"></label> -->
<!--   </p> -->
<!--   <p> -->
<!--     <label>Message: <textarea name="message"></textarea></label> -->
<!--   </p> -->
<!--   <p> -->
<!--     <button type=”submit”>Send</button> -->
<!--   </p> -->
<!-- </form> -->
{% endblock %}
