---
title: Benefits
---

{% extends "src/layouts/subpage.html" %}

{% block headline %}
    <h1>Benefit<span>s</span></h1>
    <h3>for EIE teachers</h3>
{% endblock %}

{% block content %}
<p>
Education in English offers a competitive salary for all our teachers, as well
as a great benefits package.
</p>

<p>
You will receive a monthly salary, an international airfare allowance, free
pick-up from the airport, free comfortable and modern accommodations with
complimentary WIFI so you can stay in touch with those back home,
English-speaking support staff, and free beginner level Chinese classes to help
ease your integration into Chinese society. You can set your mind at ease as
you will be provided with a wealth of resources during your stay to assist you
with transitioning to life in China.
</p>

<p>
In terms of employment advancement, teachers wishing to continue with EIE who
have demonstrated an ability to provide above standard educational experiences
for their students will be considered for a Director of Teaching Affairs (DTA)
position at one of our campuses. DTAs will receive an increased salary, and
more managerial responsibilities.
</p>

<!-- <p> -->
<!-- 800 RMB for medical costs.  -->
<!-- </p> -->

{% endblock %}
