---
title: Cities
---

{% extends "src/layouts/subpage.html" %}

{% block headline %}
    <h1>Campuse<span>s</span></h1>
    <h3>Where you can find our schools</h3>
{% endblock %}

{% block content %}

<p>
With our program operating in ten cities currently, you have the option of
teaching in the environment and university campus of your choice. In your
application, please indicate your top three choices for which campus you’d like
to teach at:
</p>


<div class="locations locations-list">
    <!-- <div class="location&#45;&#45;&#45;header"> -->
    <!--     <h6 class="location&#45;&#45;header&#45;title"> -->
    <!--         Cities -->
    <!--     </h6> -->
    <!-- </div> -->
    <div class="row">
        {% for city in data.cities.cities %}
            <div class="small-12 medium-6 columns">
                <div class='location'>
                    <div class='location--block'>
                        <div class="location--avatar">
                            <img class="location--avatar-image" src="{{ city.image }}" alt="Kishore Kumar">
                        </div>
                        <div class="location--author">
                            <p class="location--author-name">
                                {{ city.name }}
                            </p>
                            <p class="location--author-location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{ city.location }}
                            </p>
                        </div>
                        <div class='location--gallery'>
                            {% for photo in city.gallery %}
                                <img class='location--gallery-photo mr2 mb2' src='{{ photo }}' />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}
