---
title: Teach English in China
---

{% extends 'src/layouts/homepage.html' %}

{% block content %}
    <header>
        <!-- Headline Banner -->
        {% include 'src/homepage/_banner.html' %}

        <!-- Highlights Box -->
        {% include 'src/homepage/_highlights.html' %}
    </header>

    <article>
        <section class='row' id='content'>
            <main class='medium-12 column'>
                <!-- 3x info boxes -->
                {% include "src/homepage/_three_up.html" %}

                <!-- About + Locations boxes -->
                {% include "src/homepage/_information.html" %}

                <!-- 4x Testimonials -->
                {% include "src/homepage/_testimonials.html" %}
            </main>
        </section>
    <article>
{% endblock %}
