---
title: Teach English in China
---

{% extends 'src/layouts/app.html' %}

{% block headline %}
    <h1>COME TEACH ENGLISH</h1>
    <h3>It’s the best place to build and deploy a website, show off your work, build test cases, and find inspiration.</h3>
{% endblock %}

{% block cta %}
    Apply to Teach
{% endblock %}

{% block content %}
    <article>
        <section class='row' id='content'>
            <main class='medium-12 column'>
                {% include "src/homepage/three_up.html" %}
                {% include "src/homepage/information.html" %}
                {% include "src/homepage/testimonials.html" %}
            </main>
        </section>
    <article>
{% endblock %}
