---
title: Minimum Requirements
---

{% extends "src/layouts/subpage.html" %}

{% block headline %}
    <h1>Minimu<span>m</span> Requirements</h1>
    <h3>to teach with EIE</h3>
{% endblock %}

{% block content %}
<p>
Candidates interested in teaching in China in one of our programs must have
completed a bachelor’s degree at an accredited university and have a minimum of
two years’ related teaching experience. Candidates must be native, proficient
English speakers, or have come to age since at least age 13 in a country where
English is the official language. Candidates must have a thorough grasp of
English spelling, grammar, vocabulary and writing ability.
</p>

<p>
Once hired, prospective teachers will receive in-depth information on how to
obtain the proper documentation, including a Z visa, that is required for them
to work at EIE. In order to apply for your Z visa, you will need a worker
permit notification, which EIE will assist you in obtaining from the China
Foreign Expert Bureau. In order for us to obtain the work permit
notification for you, you will be required to send:
</p>

<p>
  <ul>
    <li>A detailed resume reviewing your education including high school
      attended and work experience, labelled by the corresponding month and
      year</li>
    <li>A visa photo</li>
    <li>All degrees and certificates<b>*</b></li>
    <li>Photo page of your passport (your passport’s expiration date must be 12
      months’ or longer from the date of your application)</li>
    <li>References from employers in positions related to teaching</li>
    <li>Completed medical form</li>
    <li>Criminal record check<b>*</b></li>
  </ul>
</p>
<p><b>* Degree and criminal background check needs to be notarized</b></p>

<p>
In order to receive a worker’s permit, unless you have majored in English or
Education, you must have had two full years’ of teaching experience after the
completion of your bachelor’s degree.
</p>

<p>
Once you have obtained a Z visa, it must be converted to a residence permit
within 30 days’ of your arrival in China, which will be valid for the rest of
the duration of your contract. EIE will assist you in renewing your residence
permit should you wish to renew your contract with us.
</p>
{% endblock %}
