---
title: Testimonials
---

{% extends "src/layouts/subpage.html" %}

{% block headline %}
    <h1>Testimonial<span>s</span></h1>
    <h3>From former teachers</h3>
{% endblock %}

{% block content %}
<div class='testimonials'>
    <h4>John Doe <span>Year, City</span></h4>
    <hr>
    <p>
        <i class="fas fa-quote-left"></i>
        I was a teacher with EIE from 2014-2017 in Zhengzhou at EIE’s Henan University of
        Technology campus. I’d like to share with you some of my experiences and why I
        chose to stick with EIE for three years.
    </p>

    <p>
    Firstly, I really liked the structure. I liked that may pay always came on the tenth without any hassle. I liked that it was run by a director (mine was from Canada) who had experience managing Western employees. I also enjoyed the relationship the university had with its students. We held competitions and English corners, and through those as well as in my classroom I had a chance to interact with excellent
    and eager students.
    </p>

    <p>
    Also, 2014 was my first year in China and I was still relatively new to teaching. The textbooks we used were pretty straight-forward and helpful, but what I really liked were the students. I was blown away by how warm-hearted and respectful they were. Of course, there are always exceptions over the years, but the students are one of the main reasons I stuck around.
    </p>

    <p>
    Finally, I really like the friends I made. Each year, there were between 13 and 15 of us working together. We all lived in the same apartment building (with our own apartments, of course), and we all shared an office together. The office environment was always lively and fun, and my colleagues quickly became my friends. Even though we have already left, we still keep in touch and meet up over the holidays if possible.
    </p>

    <p>
    All in all, EIE was good to me. It was a positive experience that I will always remember, and is a company that I can recommend in good conscience.”
    </p>
    <br>
    <h4>
      Don Johnson <span>Year, City</span>
    </h4>
    <hr>

    <p>
      <i class="fas fa-quote-left"></i>
      I want to thank you for giving me the opportunity to teach in China.  It has been one of my most satisfying experiences.  I love my students and I had a good time with them.  I hope they benefited and grew in their English skills.
    </p>
</div>
{% endblock %}
