<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EIE | {{ title }}</title>
    <link rel='stylesheet' media='all' href='/css/app.css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300|Lora:400,700' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
</head>
<body>
  
    <div class='layout-nav'>
      {{> _nav }}
    </div>

    <div class='layout-contents'>
      {{{ contents }}}
    </div>

    <script>
        $(document).foundation();
    </script>
    <script src='/js/lib.js'></script>
    <script src='/js/esl.js'></script>
</body>
</html>
