<!doctype html>
<html class='no-js' lang='en'>
    {% include 'src/partials/_head.html' %}

    <body class='layout app'>
        <div class='layout--nav'>
          <!-- Navigation -->
          {% include 'src/partials/_nav.html' %}
        </div>

        <div class='layout--contents'>
          <!-- Contents -->
          {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <div class='layout--footer'>
          {% include 'src/partials/_footer.html' %}
        </div>

        <!-- Javascript -->
        {% include 'src/partials/_scripts.html' %}
    </body>
</html>
